<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098067107982-lkgpm1iprvfho9iu7snsrde1tn95bbk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098067107982-lkgpm1iprvfho9iu7snsrde1tn95bbk5</string>
	<key>API_KEY</key>
	<string>AIzaSyAHkB_OoPtrVtx-6AY0g7yq31LWN25JUIg</string>
	<key>GCM_SENDER_ID</key>
	<string>1098067107982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.si.notificationtest</string>
	<key>PROJECT_ID</key>
	<string>fir-project-64a56</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-64a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098067107982:ios:c79d09885b7669987429df</string>
	<key>DATABASE_URL</key>
	<string>https://fir-project-64a56.firebaseio.com</string>
</dict>
</plist>